.animacion__title {
    max-width: 1920px;
}

.animacion__titulo__main {
    font-family: 'Changa One', cursive;
    font-size: 13rem;
    color: #0098a6;
    line-height: 13rem;
    margin-top: 2%;
    margin-bottom: 2%;
    text-transform: uppercase;
}

/* SUBTITULO ANIMACIONES */

.animacion__subtitle {
    font-family: 'Changa One', cursive;
    font-size: 8rem;
    color: #F9AF4C;
    padding-bottom: 2%;
}

.animacion__subtitle__fuscia {
    font-family: 'Changa One', cursive;
    font-size: 8rem;
    color: #DC0B7D;
    margin-bottom: 4%;
}

.estrellita-fucsia {
    width: auto;
    height: 6rem;
    padding-left: 1%;
}


/* SLIDER */

.animacion__slider {
    height: auto;
    background-color: #F9AF4C;
    text-align: center;
    padding: 4% 0;
}

.carousel-control-next {
    opacity: 100 !important;
}

.carousel-control-prev {
    opacity: 100 !important;
}


/* BUTTON */
.contacta-boton {
    width: 50%;
    height: auto;
    padding: 3% 0;
    margin: 10% 0 10% 0;
    background: #F9AF4C;
    font-size: 3rem;
    border: none;
    border-radius: 100px;
}

.contacta-boton:hover {
    background: #0098a6;
}

.animacion__title {
    padding: 0 0%;
}


/* RESPONSIVE */
@media screen and (max-width: 1920px) {

    .animacion__title {
        padding: 0 4%;
    }

    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 8rem;
        line-height: 10rem;
        color: #0098a6;
        padding: 0 2%;
        margin-top: 2%;
        margin-bottom: 1%;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 5rem;
        color: #F9AF4C;
        padding-bottom: 1%;
        padding: 0 2%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-bottom: 5%;
        margin-top: 1%;
        padding: 0 2%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 1%;
    }
}


@media screen and (max-width: 1760px) {

    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 1%;
    }
}


@media screen and (max-width: 1257px) {

    .estrellita-fucsia {
        width: auto;
        height: 2rem;
        padding-left: 1%;
    }
}


@media screen and (max-width: 1010px) {

    .animacion__titulo__main {
        padding: 0 2%;
        margin-top: 1%;
        margin-bottom: 1%;
        text-transform: uppercase;
    }
    

    .animacion__title {
        padding: 0 2%;
    }

    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
        padding-bottom: 2%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
        margin-bottom: 8%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 1%;
    }
}

@media screen and (max-width: 768px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 8em;
        line-height: 10rem;
        color: #0098a6;
        margin-bottom: 1%;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
        padding-bottom: 1%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-bottom: 8%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 2%;
    }
}

@media screen and (max-width: 692px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 6em;
        line-height: 7rem;
        color: #0098a6;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
        margin-bottom: 10%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 2%;
    }

    .contacta-boton {
        width: 50%;
        height: auto;
        padding: 2% 0;
        margin: 10% 0 10% 0;
        background: #F9AF4C;
        font-size: 2rem;
        border: none;
        border-radius: 100px;
    }
}

@media screen and (max-width: 523px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 6em;
        line-height: 7rem;
        color: #0098a6;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 2.5rem;
        color: #DC0B7D;
        margin-bottom: 10%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 2rem;
        padding-left: 1%;
    }

    .contacta-boton {
        width: 50%;
        height: auto;
        padding: 2% 0;
        margin: 10% 0 10% 0;
        background: #F9AF4C;
        font-size: 2rem;
        border: none;
        border-radius: 100px;
    }
}

@media screen and (max-width: 426px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        line-height: 4rem;
        color: #0098a6;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 2.5rem;
        color: #F9AF4C;
        padding-top:3%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 2rem;
        color: #DC0B7D;
        margin-bottom: 10%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 1.5rem;
        padding-left: 1%;
    }

    .contacta-boton {
        width: 50%;
        height: auto;
        padding: 2% 0;
        margin: 10% 0 10% 0;
        background: #F9AF4C;
        font-size: 2rem;
        border: none;
        border-radius: 100px;
    }
}

@media screen and (max-width: 340px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 4em;
        color: #0098a6;
        text-transform: uppercase;
    }

    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 2.5rem;
        color: #F9AF4C;
    }

    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 1.8rem;
        color: #DC0B7D;
        margin-bottom: 10%;
    }

    .estrellita-fucsia {
        width: auto;
        height: 1.5rem;
        padding-left: 0%;
    }

}