.contacto__page {
    padding: 3% 5%;
    min-height: 950px;
}

.contacto-width {
    max-width: 1920px;
}

.contacto__title {
    font-family: 'Changa One', cursive;
    font-size: 13rem;
    color: #0098A6;
    text-transform: uppercase;
}

.contacto__email {
    font-family: 'Changa One', cursive;
    font-size: 10rem;
    color: #F9AF4C;
}

.contacto__telefono {
    font-family: 'Changa One', cursive;
    font-size: 10rem;
    color: #DC0B7D;
}


@media screen and (max-width: 1920px) {
    .contacto__page {
    min-height: 0px;
    padding: 2% 5%;
}
    
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 8rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 5%;
    }
}



@media screen and (max-width: 600px) {
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 8rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 30%;
    }
}

@media screen and (max-width: 426px) {
    .contacto__page {
        padding: 1% 1%;
        min-height: 100%;
    }
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 6rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 2rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 2rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 30%;
    }
}

@media screen and (max-width: 325px) {
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #0098A6;
        text-transform: uppercase;
    }

}
