.contacto__page {
    padding: 3% 5%;
    position: relative;
    min-height: 100%;
}

.contacto-width {
    max-width: 1920px;
}

.contacto__title {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098A6;
    text-transform: uppercase;
}

.contacto__email {
    font-family: 'Changa One', cursive;
    font-size: 10rem;
    color: #F9AF4C;
}

.contacto__telefono {
    font-family: 'Changa One', cursive;
    font-size: 10rem;
    color: #DC0B7D;
}

.footer__container {
    position: absolute;
    bottom: 0;
}


@media screen and (max-width: 1464px) {
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 18rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 7rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 7rem;
        color: #DC0B7D;
    }
}

@media screen and (max-width: 1023px) {
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 12rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 30%;
        position: relative;
        bottom: 0;
    }
}

@media screen and (max-width: 600px) {
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 8rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 30%;
        position: relative;
        bottom: 0;
    }
}

@media screen and (max-width: 426px) {
    .contacto__page {
        padding: 1% 1%;
        min-height: 100%;
    }
    .contacto__title {
        font-family: 'Changa One', cursive;
        font-size: 6rem;
        color: #0098A6;
        text-transform: uppercase;
    }
    
    .contacto__email {
        font-family: 'Changa One', cursive;
        font-size: 2rem;
        color: #F9AF4C;
    }
    
    .contacto__telefono {
        font-family: 'Changa One', cursive;
        font-size: 2rem;
        color: #DC0B7D;
    }

    .footer__container {
        margin-top: 30%;
        position: relative;
        bottom: 0;
    }
}