.grupos__title {
    max-width: 1920px;
}

.grupos__titulo__main {
    font-family: 'Changa One', cursive;
    font-size: 13rem;
    color: #0098a6;
    line-height: 13rem;
    margin-bottom: 2%;
    margin-top: 2%;
    text-transform: uppercase;
}

.destacado-parrafo {
    font-size: 2.8rem;
    margin-top: 5%;
    padding-right: 2%;
    padding-top: 4%;
}

.grupos-destacado {
    color: #F9AF4C;
}

.destacado-imagen {
    margin-top: 8%;
}

/* SUBTITULO REFERENTES */

.grupos__subtitle {
    font-family: 'Changa One', cursive;
    font-size: 6rem;
    color: #DC0B7D;
    margin-top: 3%;
    padding-bottom: 2%;
    text-align: center;
}

.grupos__subtitle__parrafo {
    font-family: 'Changa One', cursive;
    font-size: 5rem;
    color: #FFFFFF;
    margin-bottom: 4%;
    text-align: center;
}

.grupos__referentes {
    height: auto;
    background-color: #F9AF4C;
    text-align: center !important;
    margin: 4% 0;
}

/* BENEFICIOS */

.grupos__beneficios {
    height: auto;
    text-align: center !important;
    padding: 1% 0;
}

.grupos__title__benef {
    font-family: 'Changa One', cursive;
    font-size: 4.8rem;
    color: #DC0B7D;
    padding-bottom: 5%;
}

.grupos__benef__descripcion {
    font-size: 2.6rem;
    color: #000;
}

.grupos__benef__col {
    max-width: 50rem;
    height: auto;
}

.col__one {
    margin-left: 10%;
}

.col__two {
    margin-right: 10%;
}

.col__three {
    padding-top: 5%;
}

.item-1 {
    margin-top: 10%;
}

.item-4 {
    margin-top: 4.6%;
}


/* VIDEO */
.video__grupos {
    width: 100%;
    height: auto;
    padding: 4% 0 6% 0;
}

/* RESPONSIVE */
@media screen and (max-width: 1920px) {
    .grupos__title {
        padding: 0 5%;
    }

    .grupos__titulo__main {
        font-size: 8rem;
        line-height: 10rem;
        margin-bottom: 1%;
        padding-right: 4%;
        margin-top: 2%;
    }

    .destacado-parrafo {
        font-size: 2.4rem;
        padding-right: 2%;
        padding-top: 0%;
    }

    .grupos-destacado {
        color: #F9AF4C;
    }

    .destacado-imagen {
        margin-top: 5%;
    }


    /* BENEFICIOS */

    .grupos__benef__descripcion {
        font-size: 2rem;
        color: #000;
    }

    .item-2 {
        margin-top: 0.2%;
    }

    .item-4 {
        margin-top: 4.8%;
    }

}


@media screen and (max-width: 1449px) {
    .grupos__title {
        padding: 0 5%;
    }


    .destacado-parrafo {
        font-size: 2rem;
        padding-right: 2%;
        padding-bottom: 2%;
        padding-top: 0%;
    }

    .grupos-destacado {
        color: #F9AF4C;
    }



    /* SUBTITULO REFERENTES */

    .grupos__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-top: 3%;
        padding-bottom: 2%;
        text-align: center;
    }

    .grupos__subtitle__parrafo {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #FFFFFF;
        margin-bottom: 4%;
        text-align: center;
    }

    .grupos__referentes {
        height: auto;
        background-color: #F9AF4C;
        text-align: center !important;
        margin: 4% 0;
    }

    /* BENEFICIOS */

    .grupos__beneficios {
        height: auto;
        text-align: center;
        padding: 3% 0;
    }

    .grupos__title__benef {
        font-family: 'Changa One', cursive;
        font-size: 3.5rem;
        color: #DC0B7D;
        padding-bottom: 5%;
    }

    .grupos__benef__descripcion {
        font-size: 2rem;
        color: #000;
    }

    .grupos__benef__col {
        max-width: 50rem;
        height: auto;
    }

    .col__one {
        margin-left: 10%;
    }

    .col__two {
        margin-right: 10%;
    }

    .col__three {
        padding-top: 5%;
    }

    .item-1 {
        margin-top: 10%;
    }

    .item-4 {
        margin-top: 4.8%;
    }
}

@media screen and (max-width: 1342px) {


    .col__one {
        margin-left: 0%;
    }

    .col__two {
        margin-right: 0%;
    }

    .item-1 {
        margin-left: 0;
    }

    .item-2 {
        margin-left: 0;
    }

    .item-3 {
        margin-left: 0;
    }

    .item-4 {
        margin-left: 0;
    }


}

@media screen and (max-width: 1056px) {


    .col__one {
        margin-left: 0%;
    }

    .col__two {
        margin-right: 0%;
    }

    .col__three {
        padding-top: 7%;
    }

    .item-4 {
        margin-top: 6%;
    }

    .grupos__benef__descripcion {
        font-size: 1.8rem;
        color: #000;
    }
}

@media screen and (max-width: 990px) {
    .grupos__title {
        padding: 0 4%;
    }

    .grupos__titulo__main {
        font-size: 9rem;
        line-height: 9rem;
        margin-bottom: 0%;
    }

    .destacado-parrafo {
        font-size: 2rem;
        padding-right: 2%;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    .grupos-destacado {
        color: #F9AF4C;
    }

    .destacado-imagen {
        margin-top: 5%;
        margin-bottom: 2%;
        display: block; 
        margin-left: auto; 
        margin-right: auto
    }


    /* SUBTITULO REFERENTES */

    .grupos__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-top: 5%;
        padding-bottom: 2%;
    }

    .grupos__subtitle__parrafo {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #FFFFFF;
        margin-bottom: 8%;
    }

    .grupos__referentes {
        height: auto;
        background-color: #F9AF4C;
        text-align: center !important;
        margin: 4% 0;
    }

    .grupos__beneficios {
        height: auto;
        text-align: center;
        padding: 3% 0;
    }

    .grupos__title__benef {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        padding: 2% 0;
    }

    .grupos__benef__descripcion {
        font-size: 1.8rem;
        color: #000;
    }

    .grupos__benef__col {
        max-width: 100%;
        padding: 5% 0;
    }

    .col__one {
        margin-left: 0%;
    }

    .col__two {
        margin-right: 0%;
    }

    .col__three {
        padding-top: 5%;
    }

    .grupos__beneficios {
        padding: 0 2%;
    }

    .col__one {
        margin-left: 0%;
    }

    .col__two {
        margin-right: 0%;
    }

    .col__three {
        padding-top: 4%;
    }

    .item-4 {
        margin-top: 0%;
    }
}


@media screen and (max-width: 610px) {
    .grupos__title {
        padding: 0 4%;
    }

    .grupos__titulo__main {
        font-size: 6rem;
        line-height: 5rem;
        margin-bottom: 2%;
    }

    .destacado-parrafo {
        font-size: 1.6rem;
        padding-right: 2%;
        padding-top: 0%;
    }

    .grupos-destacado {
        color: #F9AF4C;
    }

    .destacado-imagen {
        margin-top: 5%;
        margin-bottom: 10%;
    }


    /* SUBTITULO REFERENTES */

    .grupos__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        line-height: 5rem;
        color: #DC0B7D;
        margin-top: 3%;
        padding-bottom: 0%;
    }

    .grupos__subtitle__parrafo {
        font-family: 'Changa One', cursive;
        color: #FFFFFF;
        font-size: 2rem;
        margin-bottom: 8%;
    }

    .grupos__beneficios {
        height: auto;
        text-align: center;
        padding: 10% 0;
    }

    .grupos__title__benef {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
        padding-bottom: 5%;
        margin-top: 5%;
    }

    .grupos__benef__descripcion {
        font-size: 1.6rem;
        color: #000;
    }

    .grupos__benef__col {
        max-width: 100%;
        padding: 5% 0;
    }

    .col__one {
        margin-left: 0%;
    }

    .col__two {
        margin-right: 0%;
    }

    .col__three {
        padding-top: 5%;
    }

    .item-4 {
        padding-top: 5%;
    }

    .grupos__beneficios {
        padding: 0 2%;
    }

}


@media screen and (max-width: 426px) {
    .grupos__titulo__main {
        font-size: 4.5rem;
        line-height: 4rem;
        margin-bottom: 8%;
    }

    .destacado-parrafo {
        font-size: 1.8rem;
        padding-right: 2%;
        padding-top: 0%;
    }

    .grupos__benef__descripcion {
        font-size: 1.6rem;
    }

    .grupos__beneficios {
        padding: 0 2%;
    }

    .grupos__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        line-height: 3rem;
        color: #DC0B7D;
        margin-top: 10%;
        padding-bottom: 2%;
    }

    .grupos__subtitle__parrafo {
        font-family: 'Changa One', cursive;
        color: #FFFFFF;
        font-size: 2rem;
        margin-bottom: 8%;
    }
}

@media screen and (max-width: 325px) {
    .grupos__titulo__main {
        font-size: 3rem;
        line-height: 3rem;
        margin-bottom: 8%;
    }

    .destacado-parrafo {
        font-size: 1.6rem;
        padding-right: 2%;
        padding-top: 0%;
    }

    .grupos__benef__descripcion {
        font-size: 1.6rem;
    }

    .grupos__beneficios {
        padding: 0 2%;
    }
}