/*
body {
    background-image: url('../images/home/background.jpg');
    color: #fff;
}
*/

.home__title {
    max-width: 1920px;
}

.home__titulo__main {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098a6;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__subtitle__main {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #F9AF4C;
    line-height: 23.4rem;
    margin-bottom: 8%;
    text-transform: uppercase;
}

img {
    vertical-align: baseline;
}

.re-arrow {
    vertical-align: middle;
    margin-right: 2%;
}


/* CUADRO NARANJA HOME */

.home__contain {
    max-height: 950px;
    background-color: #F9AF4C;
    padding-top: 3%;
    text-transform: uppercase;
}

.home__contain__orange {
    max-width: 1920px;
    max-height: 100vh;
}

.home__orange__title {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #fff;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__orange__subtitle {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098A6;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__slogan {
    font-size: 5rem;
    color: #424242;
    padding-left: 27%;
    text-transform: uppercase;
}

.estrellita-fucsia {
    padding: 0 1%;
}

.estrellita-fucsia-three {
    padding-right: 2%;
}

@media screen and (min-width: 650px) and (max-width:950px){
    .home__titulo__main{
        font-size: 8rem !important;
        line-height: 8rem;
    }
    .home__subtitle__main{
        font-size: 7rem !important;
        line-height: 8rem;

    }
    .re-doblecolor{
        width: 21%;
        margin-left: 10px;
    }
    .re-arrow{
        width: 29% !important;
        margin-right: 2%;
    }
    .estrellita-fucsia {
        width: 10% !important;
    }
    .home__orange__title{
        font-size: 8rem !important;
        line-height: 8rem;
    }
    .home__orange__subtitle{
        font-size: 8rem !important;
        line-height: 8rem;
    }
    .home__slogan{
        font-size: 3rem;
        padding-left: 2%;
    }
    .footer__item{
        font-size: 2rem !important;
    }
}

@media screen and (max-width: 650px) {
    
    .home__titulo__main{
        font-size: 4rem !important;
        line-height: 5rem;
    }
    .home__subtitle__main{
        font-size: 4rem !important;
        line-height: 5rem;

    }
    .re-doblecolor{
        width: 21%;
        margin-left: 10px;
    }
    .re-arrow{
        width: 30% !important;
        margin-right: 2%;
    }
    .estrellita-fucsia {
        width: 10% !important;
    }
    .home__orange__title{
        font-size: 4.6rem !important;
        line-height: 7rem;
    }
    .home__orange__subtitle{
        font-size: 4rem !important;
        line-height: 7rem;
    }
    .home__slogan{
        font-size: 2.1rem;
        line-height: 3rem;
        padding-left: 2%;

    }
    .footer__item{
        font-size: 1.6rem !important;
    }
}