* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.quienes__title__width {
    max-width: 1920px;
}

.quienes__titulo__saludo {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098a6;
    text-transform: uppercase;
}

.quienes__titulo__nombres {
    font-family: 'Changa One', cursive;
    font-size: 14rem;
    color: #F9AF4C;
}

.quienes__titulo__subtitulo {
    font-family: 'Montserrat', sans-serif;
    font-size: 5.1rem;
    color: #DC0B7D;
    font-weight: 600;
}

.estrellita-fucsia {
    padding-left: 5%;
}


/* INTRO */

.destacado-inicio {
    font-size: 3.6rem;
    font-weight: 600;
    margin: 15% 0 6% 0;
}

.destacado-parrafo {
    font-size: 2.8rem;
}

.destacado-parrafo-margin {
    padding-top: 2%;
}

.destacado-imagen {
    padding: 3% 0;
}

.quienes__intro {
    max-width: 1920px;
    padding: 0 6%;
}

.quienes__intro__frase {
    text-transform: uppercase;
    padding-top: 4%;
    padding-bottom: 3%;
}

.quienes__intro__comilla {
    font-family: 'Changa One', cursive;
    font-size: 14rem;
    color: #DC0B7D;
}

/* AGITADORAS */

.quienes__agitadoras {
    height: 795px;
    background-color: #F9AF4C;
    text-align: center;
    padding-top: 3%;
}

.quienes__agitadoras__contain {
    max-width: 1920px;
}

.quienes__agitadoras__col {
    max-width: 440px;
    margin: 0 2%;
}

.quienes__agitadoras__nombre {
    font-family: 'Changa One', cursive;
    font-size: 4.8rem;
    line-height: 5rem;
    color: #DC0B7D;
    padding-top: 3%;
    padding: 3% 3% 0 3%;
}

.quienes__agitadoras__descripcion {
    font-size: 2.8rem;
    color: #000;
}

@media screen and (max-width: 650px) {
    .quienes__titulo__saludo{
        font-size: 10rem;
    }
    .quienes__titulo__nombres{
        font-size: 5.6rem;
        margin-bottom: 10px;
    }
    .estrellita-fucsia {
        width: 8vh;
    }
    .destacado-imagen{
        width: 100%;
    }
    .quienes__titulo__subtitulo {
        font-size: 3.5rem;
    }
    .quienes__intro__comilla {
        font-size: 5.8rem;
    }
    .quienes__intro__frase {
        font-size: 5.8rem;
        text-align: center;
    }
    /* INTRO */
    .destacado-parrafo{
        font-size: 2.3rem;
    }
    .img-fluid{
        width: 100% !important;
    }

    /* AGITADORAS */
    .quienes__agitadoras{
        height: 100% !important;
        width: 100% !important;
    }
   
    .quienes__agitadoras__nombre{
        font-size: 4.6rem !important;
        line-height: 5rem;
    }
    .quienes__agitadoras__descripcion{
        font-size: 1.8rem !important;
    }
}