.animacion__title {
    max-width: 1920px;
}

.animacion__titulo__main {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098a6;
    line-height: 23.4rem;
    margin-bottom: 4%;
    text-transform: uppercase;
}

/* SUBTITULO ANIMACIONES */

.animacion__subtitle {
    font-family: 'Changa One', cursive;
    font-size: 14rem;
    color: #F9AF4C;
    padding-bottom: 2%;
}

.animacion__subtitle__fuscia {
    font-family: 'Changa One', cursive;
    font-size: 14rem;
    color: #DC0B7D;
    margin-bottom: 8%;
}

.estrellita-fucsia {
    padding-left: 5%;
}


/* SLIDER */

.animacion__slider {
    height: auto;
    background-color: #F9AF4C;
    text-align: center;
    padding: 4% 0;
}

.carousel-control-next {
    opacity: 100 !important;
}

.carousel-control-prev {
    opacity: 100 !important;
}


/* BUTTON */
.contacta-boton {
    width: 50%;
    height: auto;
    padding: 4% 0;
    margin: 10% 0 10% 0;
    background: #F9AF4C;
    font-size: 3rem;
    border: none;
    border-radius: 100px;
}

.contacta-boton:hover {
    background: #0098a6;
}


/* RESPONSIVE */
@media screen and (max-width: 1960px) {
    .animacion__titulo__main {
        margin-left: 4%;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        margin-left: 4%;
    }
    
    .animacion__subtitle__fuscia {
        margin-left: 4%;
    }
    
    .estrellita-fucsia {
        padding-left: 5%;
    }
}

@media screen and (max-width: 1560px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 15em;
        color: #0098a6;
        line-height: 15rem;
        margin-bottom: 4%;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 7rem;
        color: #F9AF4C;
        padding-bottom: 2%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 7rem;
        color: #DC0B7D;
        margin-bottom: 8%;
    }
    
    .estrellita-fucsia {
        padding-left: 5%;
    }
}

@media screen and (max-width: 1010px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 10em;
        color: #0098a6;
        line-height: 15rem;
        margin-bottom: 2%;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
        padding-bottom: 2%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-bottom: 8%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 5rem;
        padding-left: 2%;
    }
}

@media screen and (max-width: 679px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 6em;
        color: #0098a6;
        margin-bottom: 1%;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
        padding-bottom: 1%;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #DC0B7D;
        margin-bottom: 8%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 2%;
    }
}

@media screen and (max-width: 424px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 5em;
        color: #0098a6;
        text-transform: uppercase;
    }
    
    /* SUBTITULO ANIMACIONES */
    
    .animacion__subtitle {
        font-family: 'Changa One', cursive;
        font-size: 4rem;
        color: #F9AF4C;
    }
    
    .animacion__subtitle__fuscia {
        font-family: 'Changa One', cursive;
        font-size: 3rem;
        color: #DC0B7D;
        margin-bottom: 10%;
    }
    
    .estrellita-fucsia {
        width: auto;
        height: 3rem;
        padding-left: 5%;
    }

    .contacta-boton {
        width: 50%;
        height: auto;
        padding: 2% 0;
        margin: 10% 0 10% 0;
        background: #F9AF4C;
        font-size: 2rem;
        border: none;
        border-radius: 100px;
    }
}

@media screen and (max-width: 325px) {
    .animacion__titulo__main {
        font-family: 'Changa One', cursive;
        font-size: 4em;
        color: #0098a6;
        text-transform: uppercase;
    }

}