/*
body {
    background-image: url('../images/home/background.jpg');
    color: #fff;
}
*/

.home__title {
    max-width: 1920px;
}

.home__titulo__main {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098a6;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__subtitle__main {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #F9AF4C;
    line-height: 23.4rem;
    margin-bottom: 8%;
    text-transform: uppercase;
}

img {
    vertical-align: baseline;
}

.re-arrow {
    vertical-align: middle;
    margin-right: 2%;
}


/* CUADRO NARANJA HOME */

.home__contain {
    height: 795px;
    background-color: #F9AF4C;
    padding-top: 3%;
    text-transform: uppercase;
}

.home__contain__orange {
    max-width: 1920px;
}

.home__orange__title {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #fff;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__orange__subtitle {
    font-family: 'Changa One', cursive;
    font-size: 23.4rem;
    color: #0098A6;
    line-height: 23.4rem;
    text-transform: uppercase;
}

.home__slogan {
    font-size: 5rem;
    color: #424242;
    padding-left: 27%;
    text-transform: uppercase;
}

.estrellita-fucsia {
    padding: 0 1%;
}

.estrellita-fucsia-three {
    padding-right: 2%;
}